{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="en">

<body>
    {% for order in orders %}
    <h2><a >Номер заказа: {{ order.id }}</a> </h2>
    <h3>Пользователь: {{ order.name }}</h3>
    <a>Номер стола: {{ order.table_number }}</a>
    <li>Статус заказа: {{ order.status }}</li>
    <li>Описание заказа: {{ order.description }}</li>
    <li>Стоимость заказа: {{ order.price }}</li>
    <a href="{% url 'editing_order' order.pk %}"  ><button type="submit" >Редактировать</button></a><a>  </a>
    <a href="{% url 'delete_order' order.id %}"><button type="submit" >Удалить</button></a>
    {% endfor %}
</body>
    <h3>Общая стоимость заказов: {{ total_price_list }} руб</h3>
    <h3>Общая выручка: {{ REVENUE }} руб</h3>

</html>
{% endblock %}