{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="en">
<body>
    {% for order in orders %}
    <h2>Номер заказа: {{ order.id }}</h2>
    <a href="{% url 'orders:editing_order' pk=order.pk %}" >Номер стола: {{ order.table_number }} </a>
    <li>Статус заказа: {{ order.status }} </li>
    <li>Описание заказа: {{ order.description }} </li>
    <li>Стоимость заказа: {{ order.price }} </li>

    {% endfor %}

    <h3>Общая стоимость заказов: {{ total_price_list }} руб</h3>
</body>
</html>
{% endblock %}